* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-rendering: optimizeLegibility !important;
  -webkit-font-feature-settings: antialiased !important;  
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
}

/* ========= 
GRID 12 COLUMNS */

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(50px, auto);
  row-gap: 30px;;
}



/* ====================
HEADERR */

header {  
  font-size: 1.4em;
  background: #EAECFF;
  height: 80px;
  display: flex;  
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  grid-column: 2/13;
}

header span.back {
  border: 1px solid #D0D1E2 ; 
  color: #292844;  
  padding: 8px 25px 8px 30px;
  border-radius: 16px;
  font-size: 0.8em;
  background: url(/images/right.svg) no-repeat 10px;
  background-size: 8px;
}

header ul {
  display: flex;  
  list-style: none;
}

header ul li {
  color: #575770;
  flex-shrink: 0;
  margin: 0 3em;
}

header ul li:hover {
  font-weight: bold;
  color: #242440;
}

.user {
  border-radius: 50%;
  border: 2px solid #EAECFF;  
}

header .investors {
  display: flex;
  align-items: center;
}

header .investors img {
  height: 30px;
  width: 30px;
  background: rgb(209, 142, 253);
}

header .investors img:nth-child(2) {
  transform: translate(10px);
  background: rgb(188, 195, 255);
}

header .investors img:nth-child(1) {
  transform: translate(20px);
  z-index: 1;
  background: rgb(252, 222, 157);
}

header .investors p {
  display: flex;  
  font-size: 12px;
  margin-left: 10px;
}

/* =====================
LEFT SIDE NAV */

nav {
  grid-column: 1/1;
  grid-row: 1/4;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  align-items: center;
  background: #EAECFF;  
  padding: 20px 0;
}

nav .logo {
  display: flex;
  flex-direction: column; 
  align-items: center; 
}

nav .logo h1 {
  font-size: 1.1em;
  text-align: center;
}

nav .logo img {
  height: 30px;
  margin-bottom: 10px;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;    
}

nav .ser {
  height: 40px;
  width: 40px;
  background: #6483ED;
  border-radius: 6px;
}

nav ul li  {
  display: flex;
  flex-direction: column;
  margin: 12px 0;
  align-items: center;
  text-transform: uppercase;
  font-size: 0.8em;
}

nav ul li img{
  height: 40px;
  padding: 10px;
  border-radius: 50%;
  margin-bottom: 5px;
  filter: invert(65%) sepia(35%) saturate(3663%) hue-rotate(206deg) brightness(77%) contrast(91%);
}

nav ul li img:hover {
  filter: invert(100%) sepia(35%) saturate(63%) hue-rotate(156deg) brightness(100%) contrast(100%);
  background: #6483ED;  
}


main {
  gap: 50px;
}

/* ============
PROFIT */

.profit {
  grid-column: 2/9;
  background: #827DF7;
  margin-right: 50px;
  border-radius: 20px;
  padding-bottom: 30px;
}


.profit h3 {
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #2A2677;
}

.profit h1 {
  color: #fff;
  font-size: 8rem;
  position: relative;
  letter-spacing: -0.15em;
  margin-top: -10px;
}

.profit h1 span {
  font-size: 3.5rem;
  position: absolute;
  top: 15px;
  left: 130px;
}

.side {
  margin-left: 20px;
}

.title {
  letter-spacing: 0.1em;  
  margin-bottom: 10px;
  text-transform: uppercase;  
}

.profit {
  margin-left: 30px;
}

.projection {
  margin: 40px 0 0 60px;
}

.profit .shoe{ 
  height: 350px;
  transform: rotate(-40deg);
  position: absolute;
  left: 270px;
  top: 125px;
}

.rating, .popularity {
  display: flex;
  margin: 30px 0 0 60px;  
}

.price img {
  height: 40px;
}

.box {
  height: 40px;
  width: 40px;
  padding: 10px;  
  border-radius: 4px;
}

.rating .box,
.popularity .box {
  background: #5751C8;
}
.price {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  background: #121045;
  height: 130px;
  width: 180px;
  position: absolute;
  top: 386px;
  left: 680px;
  border-radius: 50px 0 25px;
}

.profit p {
  color: #5751C8;
  font-weight: bold;
  margin-bottom: 6px
}

.profit .big {
  font-size: 2.2em;
  font-weight: bold;
  color: #fff;
}

.price p {
  color: #fff;
  font-size: 1.2em;
  font-weight: normal;
}

.price img {
  filter: invert(66%) sepia(58%) saturate(6570%) hue-rotate(328deg) brightness(102%) contrast(103%);
}

/* .popularity img, 
.rating img{
  filter: invert(100%) sepia(10%) saturate(10%) hue-rotate(150deg) brightness(112%) contrast(116%);
} */

.offer { 
  grid-column: 9/13;
  background: #FFCFD0; 
  border-radius: 20px;
  margin-right: 50px;  
}

.offer img {
  height: 300px;
  transform: translate(-30px,-30px); 
  position: absolute;
  z-index: 1;
}
.offer p {
  margin: 20px 0 0 20px;
  font-weight: bold;
  background: #121045;
  width: 100px;
  padding: 10px;
  border-radius: 20px;
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;
}

.offer .advices ul {
  list-style: none;
}

.advices {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  margin: 0 auto 20px;
  width: 320px;
  transform: translate(0, 250px);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* =============
OTHER GRIDS */




.statistics {
  grid-column: 2/6;
}
.expert {
  grid-column: 6/9;
}
.market {
  grid-column: 9/13 ;
}